
html,
body{
    height: 100%;
}
body{
    background: linear-gradient(
        45deg, rgb(189, 60, 82), rgb(241, 90, 90)
    );
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    overflow: hidden;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.card{
    display: flex;
    border-radius: 8px;
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.36);
}
.card::before{
    content: "";
    position: absolute;
    top: calc(100% - 400px);
    left: -80px;
    z-index: -1;
    background: rgb(210, 67, 86);
    border-radius: 8px;
    width: 500px;
    height: 500px;
}
.card::after{
    
    position: absolute;
    top: -80px;
    right: -16px;
    z-index: -1;
    background: rgb(228, 79, 87);
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.card .container-label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    color: #ffffff;
    background: linear-gradient(180deg, rgb(189, 50, 83), rgb(240, 90, 90));
    padding-left: 2rem;
    padding-right: 3rem;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.card .container-label span{
    background-color: #ffffff;
    margin-top: 2px;
    height: 3px;
    width: 48px;
}
.card .container-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
}
.card .container-icon .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: linear-gradient(180deg, rgb(207, 68, 100), rgb(240, 90, 90));
    height: 48px;
    width: 48px;
    border-radius: 50%;
}
.card .container-icon .circle i {
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 900;
}
.card .container-form form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(186, 50, 86);
    background: #e0e0e0;
    padding: 5rem;
    width: 450px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.card .container-form label {
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: uppercase;
}
.card .container-form input{
    color: rgb(120, 96, 97);
    background-color: transparent;
    padding: 8px;
    border: none;
    border-bottom: 1px solid rgb(231, 154, 174);
    width: 100%;
}
.card .container-form input:focus{
    border-color: rgb(233, 156, 176);
    outline: 0;
}
.card .container-form input::placeholder{
    color: rgb(233, 157, 175);

}
.card .container-form #email {
    margin-bottom: 1.75rem;
}
.card .container-form .change-password{
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(187, 50, 80);
    margin-top: 0.75rem;
}
.card .container-form .change-password a{
    color: red;

}
.card .comtainer-form button{
    color: #ffffff;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgb(188, 50, 80), rgb(241, 90, 90));
    padding: 12px 16px;
    margin-top: 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button{
    background-color: rgb(234, 49, 49);
}

#button{
    border: 2px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color:white;
    margin-top: 5px;
    border-radius: 5px;
}
.container{
    background-repeat: no-repeat;
    background-size: cover;
}
