* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "sans-serif";
}

#wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-40px) scale(5);
}
.foreground {
  transform: translateZ(-20px) scale(3);
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

h1 {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10rem;
  letter-spacing: 2px;
  /* font-family: "Merriweather", serif; */
  color: #fff4f1;
  text-shadow: 0 0 10px orange;
}

h2 {
  font-size: 5rem;
  padding: 0 10rem;
}

section {
  background-color: rgb(45, 45, 45);
  color: white;
  padding: 5rem 0;
}

.secHeading {
  font-size: 5 rem;
  padding: 0 10rem;
}

.text {
  font-size: 1.5rem;
  padding: 0 10rem;
  margin: 5rem 0;
}

.bg {
  position: relative;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.desc {
  position: absolute;
  background-color: white;
  padding: 0.5rem 2.5rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: black;
  font-size: 3.5rem;
  font-weight: 600;
}

.desc p {
  font-size: 3.5rem;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
}

.bg1 {
  background-image: url(/parallax_effect/assets/rr2.jpg);
}
.bg2 {
  background-image: url(/parallax_effect/assets/robot.png);
}
.bg3 {
  background-image: url(/parallax_effect/assets/truman.jpg);
}
.bg4 {
  background-image: url(/parallax_effect/assets/angry.png);
}
.bg5 {
  background-image: url(/parallax_effect/assets/bojack2.jpg);
}
