* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}



.Nav-bar-container a {
    text-decoration: none;
    color: black;

}

.Nav-bar-container {
    display: flex;
    height: 80px;
    flex-direction: row;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.Nav-bar-Logo-Name {
    font-size: large;
    margin-left: 7%;
}

.Nav-bar-container ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: -25%;
    align-items: center;
    justify-content: center;


}

.Nav-bar-container li {
    font-size: large;
    padding: 10px;


}

a {
    position: relative;
    text-decoration: none;
    color: black;
    transition: 0.5s;
    letter-spacing: 0.5px;

}

a::after {
    content: '';
    position: absolute;
    background-color: black;
    height: 3px;
    width: 0%;
    left: 0px;
    bottom: -10px;
    transition: 0.5s;
    border-radius: 10%;
}

.mobile-left-bar {
    display: none;
}

a:hover::after {
    width: 100%;
}

.container-body-layout-about {
    display: flex;
    margin-top: 6%;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
    
}

.class-left-about-text {
    margin-left: 15%;

}

img {
    width: 200px;
    height: 200px;
}

.class-right-about-image {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
   
}

.title-left-image {
    width: 34%;
    font-size: 28px;
    padding-bottom: 10px;
    color: rgb(43, 123, 43);
    font-weight: bold;
}

.class-left-description {
    width: 60%;
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(43, 123, 43);
}

.image-one-class  {
    width: 190px;
    height: 250px;
    margin-right: 10px;
    box-sizing: border-box;
    margin-top: 19%;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

.image-two-class {
    width: 250px;
    height: 450px;
    margin-left: 10px;
    border-radius: 5%;
    box-sizing: border-box;
}

.button-left-about-explore {
    padding: 10px 35px;
    margin-top: 20px;
    background-color: green;
    width: fit-content;
    cursor: pointer;


}

.box ul li {
    width: 45px;
    height: 45px;
    position: absolute;
    list-style: none;
    opacity: 0;
    background: radial-gradient(red,transparent,transparent);
    bottom: 0;
    left: 10vw;
    animation: animate 15s linear  infinite;
    z-index: -1;
}

.box ul li:nth-child(2) {
    left: 37vw;
    animation-delay: 2s;

}
.box ul li:nth-child(3) {
    left: 55vw;
    animation-delay: 2s;
    
}
.box ul li:nth-child(4) {
    left: 60vw;
    animation-delay: 6s;
    
}
.box ul li:nth-child(5) {
    left: 75vw;
    animation-delay: 4s;
}
.box ul li:nth-child(6) {
    left: 40vw;
    animation-delay: 6s;
    
}
.box ul li:nth-child(7) {
    left: 30vw;
    animation-delay: 4s;
}

@keyframes animate {
    0% {
        transform: scale(0);
        opacity: 1;
        bottom: 0;
    }
    100% {
        transform: scale(100%);
        opacity: 0;
        bottom: 100vh;
    }
    
}

.footer-main-container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    padding-bottom: 60px;
    padding-top: 30px;
    
    
}

.footer-left-body-icons {
    margin-top: 30px;
    margin-left: 30px;
    width: 20%;
    margin-right: 40px;

}

.grid-item {
    font-size: 16px;
    width: 100px;
    text-align: center;
    margin-bottom: 15px;
}
.grid-item-long {
    font-size: 16px;
    width: 130px;
    text-align: center;
    margin-bottom: 15px;

}

.footer-right-body-grid {
    display: flex;
    align-items: center;
    margin-left: 20%;
    padding-right: 40px;
    
}


.grid-item-header {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    align-items: center;
    margin-bottom: 10px;
}

.footer-travel-container {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(57, 208, 57);
}

.footer-travel-container-des {
    width: 80%;
   margin-bottom: 10px;
}

.footer-left-icons-social {
    font-size: 20px;
    margin-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    justify-content: space-around;
    
}

.footer-two-right {
    margin-left: 20%;
    margin-right: 20%;
    cursor: pointer;
}
#socialicons {
    margin-left: 10px;
    margin-right: 10px;
}
#socialicons2 {
    margin-left: 10px;
    margin-right: 10px;
}
#socialicons3{
    margin-left: 10px;
    margin-right: 10px;
}

.footer-one-right {
    margin-left: 20%;
    cursor: pointer;
    margin-right: 20%;
}

.footer-three-right {
    margin-left: 20%;
    cursor: pointer;
    margin-right: 20%;
}
.mobile-icon {
    display: none;
    margin-right: 20px;
    font-size: 25px;
}
/* MMobile Nav Bar Cards Style */
.mobile-nav-bar-onclick {
    background-color: rgba(68, 26, 26, 0.1);
    height: 100vh;
    align-items: center;
    justify-content: center;
    width: 100vw;
    
    
}
.Nav-bar-list-mobile {
    position: absolute;
    top: 45%;
    left: 45%;
    flex-wrap: wrap;

}
.Nav-bar-list-mobile ul {
    list-style: none;
}
.Nav-bar-list-mobile li {
            color: blue;
            padding-left: 20px;
            padding-bottom: 20px;
            font-size: large;


}
.Nav-bar-list-mobile a {
    color: black;
}
.Nav-bar-list-mobile a::after{
    background-color: black;

}


/* Mobbile Nav O n Click Items */
.drop-down-menu-parent{
    display: none;
    position:absolute;
    right: 2rem;
    top: 80px;
    height: 0;
    width: 200px;
    background-color: rgba(246, 11, 11, 0.9);
    backdrop-filter: blur(15px);
    overflow: hidden;
    color: black;
    border-radius: 13px;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.open {
    height: 200px;
}

.drop-down-menu-parent li {
    padding: 0.7rem;

}
.drop-down-menu-parent  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
    
    
}
.drop-down-menu {
    display: flex;
    flex-direction: column;
}
/* Mobbile Nav O n Click Items */

@media screen  and (max-width:1300px){
    .footer-right-body-grid {
        margin-left: 10%;
    }
    
}


@media screen and (max-width:1008px)  {
    .Nav-bar-container ul {
        display: none;
    }

    .nav-mobile-left-bar {
        display: flex;
    }
    .drop-down-menu-parent {
        display: block;
    }
   
    .drop-down-menu-parent ul {
        display: flex;
    }

    .container-body-layout-about {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .class-right-about-image{
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
    }
    .class-left-about-text {
        align-items: center;
        justify-content: center;
        margin-left: 30%;
    }
    .footer-main-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-right-body-grid {
        display: grid;
        grid-template-columns: auto;
        row-gap: 20px;
        margin-top: 40px;
    }

    .footer-left-body-icons {
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
    .grid-item-header {
       padding-left: 8px;
    }
    .footer-left-body-icons  {
        margin-left: 30%;
        width: auto;
        margin-right: auto;
    }
    .mobile-icon {
        display: block;
    }


}