@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}
.topSection{
    display: flex;
    background-color: #030508;
    justify-content: space-evenly;
    padding-bottom: 4rem;
    align-items: center;
}
.hero{
    background-color: #030508;
    padding: 1rem;
}
h1 {
    font-weight:bolder;
    font-size: 48px;
    font-style: #F9FAF8;
    color: #e5E7EB;
    max-width: 18rem;
    margin: 0;
}
.content{
    font-size: 18px;
    color: #e5E7EB;
    max-width: 32rem;
    margin-bottom: 10px;    /* transform: scaleX(1.5); */
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: #030508;
    align-items: center;
    gap:15rem;
    padding-bottom: 5rem;
}
.logo img{
    max-width: 100px;
    max-height: 100px;
    object-fit: fill;
    border-radius: 4px;
    height: auto;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style:none ;
    gap: 16px  
}
.rightLinks{
    display: flex;
    justify-content: space-evenly;
}
a {
    text-decoration: none;
    color: antiquewhite; 
    font-size: 1.3rem;  
}
a:hover{
    color: aquamarine;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;

}
.placeholder img{
    width: 500px;
    height:400px;

}
button {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 8px 30px;
    color: #5d8be8;
    font-weight: 600;
    font-size: 20px;
    border: 2rem;
}
.middleSectionHeader {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 45px;
    color: #000000;
    padding-top: 25px;
    padding-bottom: 25px;
    background-image: linear-gradient(358deg, #080808,transparent);
}
 .middleSectionCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 6rem;
    flex-direction: row;
    background-image: linear-gradient(182deg, black, transparent);
} 
.middleSectionCards a {
    color: #030508;
    font-size: 34px;
    font-weight: 400;
}
.middleSectionCards a:hover {
    color: aquamarine;
}
.middleSectionCards p {
    padding: 11px;
}
.middleSectionCards img {
    max-width: fit-content;
}
.card img[alt="mal"]{
    height: 210px;
    object-fit: fill;
}
.card {
    max-width:210px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem ;
    box-shadow : 0 4px 8px 0 rgba(0,0,0,0.2);
    transition : 0.3s;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.quote{
    display: flex;
    flex-direction: column;
    background-color:#E5E7EB;
}
.randomQuote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    padding: 8rem 8rem;
}
.quote p{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
    color: #1F2937;

}
.project1, .project2{
    display: flex;
    justify-content: space-around;
    /* background-color: #3882F6; */
    margin: 3.5rem 5rem;
    padding: 2rem 3rem;
    border-radius: 10px;
    gap: 3rem;
    background-image: url(Photos/weatherApp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h3{
    font-size: 40px;
    font-weight: 900;
    color: rgb(167, 221, 255);
}
.projectContent1, .projectContent2{
    font-size: 25px;
    color:rgb(247, 254, 255);

}
.projectButton1, .projectButton2 {
     border-style: solid;
     border-color: rgb(43, 229, 246);
     border-width: 4px;
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
}
.projectButton1, .projectButton2 a{
    padding: 23px;
    color: #014376;
    background-color: #f09cd4;
}
.footer {
    background-color:#1F2937;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5E7EB;
}